# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://ecopass:ecopass@localhost:5432/ecopass"


ENCRYPTION_KEY="8d0e71d509bc94c9f1b27bc7ba88f3794c01dad723bbc8973d43a3646209394d"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="pnniDefXoabFX0ancrmYjQfIFj1IWLwCIKwfg+/brVk="