<html>
  <body>
    <h1>Réinitialisation du mot de passe</h1>
    <p>Vous avez demandé un nouveau mot de passe, veuillez cliquer sur le lien ci dessous pour le définir</p>
    <p>
      <a href="<%= resetLink %>"><%= resetLink %> </a>
    </p>
    <p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce message.</p>
    <p>Bonne journée,</p>
    <p>L'équipe du portail de déclaration de l'affichage environnementale</p>
  </body>
</html>
