<html>
  <body>
    <h1>Bienvenue sur le portail de déclaration de l'Affichage environnemental</h1>
    <p>
      Nous avons créé votre compte. Veuillez cliquer sur le lien ci-dessous pour définir votre mot de passe :
    </p>
    <p>
      <a href="<%= resetLink %>"><%= resetLink %> </a>
    </p>
    <p>Si vous souhaitez autoriser des collaborateurs de votre organisation à se connecter à votre organisation, merci de nous contacter pour qu'ils puissent avoir leurs propres identifiants.</p>
    <p>
      Une fois votre mot de passe défini,
      <ul>
        <li>Si vous êtes une marque, nous vous invitons à détailler les marques qui appartiennent à votre entreprise dans l'onglet "Organisation", puis à identifier le bureau d'études auquel vous souhaitez déléguer vos droits. Si vous ne souhaitez pas passer par un bureau d'études pour effectuer la déclaration de vos produits, vous pouvez le faire par vous-même dans l'onglet "Déclarations" via un fichier CSV ou Excel ou dans l'onglet API.</li>
        <li>Si vous êtes un bureau d'études, nous vous invitons à communiquer votre identifiant unique (disponible dans l'onglet "Organisation") à vos clients pour qu'ils puissent faire les délégations à votre entreprise depuis leur propre compte. Vous pourrez ensuite effectuer des déclarations pour eux via l'API ou via CSV/Excel dans l'onglet "Déclarations".</li>
      </ul>
    </p>
    <p>N'hésitez pas à nous écrire par e-mail si vous avez des questions.</p>
    <p>Bonne journée,</p>
    <p>L'équipe du portail de déclaration de l'affichage environnementale</p>
  </body>
</html>
