<html>
  <body>
    <h1>Bienvenue sur Écopass</h1>
    <p>Nous vous avons créé un compte, veuillez cliquer sur le lien ci dessous pour définir votre mot de passe</p>
    <p>
      <a href="<%= resetLink %>"><%= resetLink %> </a>
    </p>
  </body>
</html>
