.backLink {
  color: var(--blue-france-sun-113-625);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.875rem;
  display: block;
  width: fit-content;

  transition: all 300ms ease-in-out;
  span {
    transition: all 300ms ease-in-out;
    &:before {
      --icon-size: 1rem;
    }
  }

  &:hover {
    margin-left: -0.5rem;
    span {
      margin-right: 0.5rem;
    }
  }
}
