.container {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.noMargin {
  padding-top: 0;
}

.secondary {
  background-color: var(--background-default-grey-hover);
}

.home {
  background: var(--background-alt-brown-cafe-creme);
}

.large {
  padding-top: 4rem;
  padding-bottom: 5rem;
}
