.container {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.noMargin {
  padding-top: 0;
  padding-bottom: 0;
}

.yellow {
  background: var(--background-alt-brown-cafe-creme);
}

.blue {
  background-color: #e1edfb;
}

.grey {
  background-color: var(--background-default-grey-hover);
}

.large {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.withBreadcrumbs {
  padding-top: 1rem;

  :global(.fr-breadcrumb) {
    margin-top: 0;
  }
}
