.label {
  background-image: url("/images/ce-noir.svg");
  background-size: cover;
  min-width: 27rem;
  width: fit-content;
  height: auto;
  aspect-ratio: 9.375/5;
  padding: 1.5rem 1.5rem 4rem 5rem;
  text-align: right;
  color: black;
}

.title {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.score {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.impact {
  background-color: black;
  color: white;
  width: fit-content;
  float: right;
  padding: 0.5rem;
  border-radius: 16px;
}
