.label {
  background-image: url("/images/ce-noir.svg");
  background-size: cover;
  width: 8.94375rem;
  height: 4.7625rem;
  aspect-ratio: 9.375/5;
  padding: 0.3125rem 0.5rem 0.5rem 0.5rem;
  text-align: right;
  color: black;
}

.title {
  text-transform: uppercase;
  font-size: 0.4375rem;
  margin: 0;
  line-height: normal;
  b {
    font-weight: 700;
  }
}

.subtitle {
  font-size: 0.53125rem;
  margin: 0;
  line-height: normal;
}

.score {
  font-size: 2.125rem;
  font-weight: 800;
  margin: 0;
}

.impact {
  background-color: black;
  color: white;
  width: fit-content;
  float: right;
  line-height: normal;
  padding: 0.125rem 0.1875rem;
  border-radius: 0.1875rem;
  font-size: 0.5625rem;
  font-weight: 500;
  margin: 0;
}
