.container {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem 2rem;

  @media screen and (max-width: 50rem) {
    flex-direction: column;
  }
}

.upload {
  width: 40%;

  @media screen and (max-width: 50rem) {
    width: 100%;
  }
}

.help {
  width: 60%;
  margin: 0;

  @media screen and (max-width: 50rem) {
    width: 100%;
  }
}

.helpTitle {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.button {
  margin-top: 1rem;
}
