.layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;

  @media screen and (max-width: 50rem) {
    flex-direction: column;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-width: 30rem;

  @media screen and (max-width: 62rem) {
    min-width: 20rem;
  }

  @media screen and (max-width: 50rem) {
    min-width: unset;
  }
}

.tile {
  width: 100%;
}

.tileMeta {
  display: block;
  margin-top: 0.25rem;
  color: var(--text-mention-grey);
  font-size: 0.875rem;
}
