.barTrack {
  height: 0.5rem;
  background-color: var(--background-contrast-grey);
  border-radius: 2px;
  overflow: hidden;
}

.barFill {
  height: 100%;
  background-color: var(--blue-france-sun-113-625);
  width: 0;
}

.link {
  background-image: unset;

  &:hover {
    color: var(--blue-france-sun-113-625);
  }

  &::after {
    mask-image: unset;
    background-color: transparent;
    width: 0;
    height: 0;
  }
}
