.productBanner {
  display: flex;
  align-items: center;
  gap: 2rem;
  @media screen and (max-width: 50rem) {
    flex-direction: column;
  }
}

.productLine {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  @media screen and (max-width: 35.9375rem) {
    justify-content: space-between;
  }
}

.title {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0;
}

.badges {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
