.box {
  border: 2px solid var(--brown-cafe-creme-sun-383-moon-885);
  padding: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
}

.input {
  width: 30rem;
  margin-bottom: 0 !important;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  height: fit-content;
}
