.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  h2 {
    margin: 0.5rem 0;
  }

  @media screen and (max-width: 62rem) {
    flex-direction: column;
  }
}

.badge {
  background-color: #0063cb;
  color: white;
}

.button {
  height: 100%;
}

.image {
  @media screen and (max-width: 30rem) {
    display: none;
  }
}
