.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 50rem) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.bannerTest {
  @media screen and (max-width: 62rem) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  > div {
    min-width: min(400px, 100%);
    flex: 1;
  }
}

.image {
  width: 100%;
  max-width: 350px;
  height: auto;

  @media screen and (max-width: 50rem) {
    max-width: min(100%, 300px);
  }
}

.round {
  border-radius: 50%;
}

.alert {
  min-width: 700px;

  @media screen and (max-width: 1248px) {
    min-width: 500px;
  }

  @media screen and (max-width: 62rem) {
    min-width: 100%;
  }
}

.small {
  max-width: 200px;
}

.description {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-block: 1.5rem;
}

.connection {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
