.background {
  background-image: url("/images/homebanner.svg");
  background-repeat: no-repeat;
  background-position-y: center;

  @media screen and (max-width: 62rem) {
    background-image: none;
  }
}

.backgroundPro {
  background-image: url("/images/homebanner-pro.png");
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (max-width: 62rem) {
    background-image: none;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-left: 10rem;

  @media screen and (max-width: 62rem) {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0;
  }
}

.bannerPro {
  flex-direction: row-reverse;
}

.bannerTest {
  @media screen and (max-width: 62rem) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  > div {
    min-width: min(400px, 100%);
    flex: 1;
  }
}

.image {
  width: 100%;
  max-width: 350px;
  height: auto;

  @media screen and (max-width: 50rem) {
    max-width: min(100%, 300px);
  }
}

.proImage {
  max-width: unset;
  height: 100%;
  width: auto;
}

.alert {
  min-width: 700px;

  @media screen and (max-width: 1248px) {
    min-width: 500px;
  }

  @media screen and (max-width: 62rem) {
    min-width: 100%;
  }
}

.small {
  max-width: 200px;
}

.description {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.connection {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.brands {
  margin-top: 5rem;
}
