.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  > div {
    min-width: min(400px, 100%);
    flex: 1;
  }

  h3 {
    color: var(--blue-france-sun-113-625);
  }
}

.image {
  max-width: 400px;
  height: auto;
  border-radius: 50%;

  @media screen and (max-width: 767px) {
    max-width: 300px;
  }
}

.small {
  max-width: 200px;
}

.title {
  color: var(--blue-france-sun-113-625);
  font-size: 2.5rem;
  line-height: 3rem;
}

.description {
  color: var(--blue-france-sun-113-625);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-block: 1.5rem;
}
