.container {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  width: calc((100% - 4rem) / 2);
  @media screen and (max-width: 62rem) {
    width: 100%;
  }
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
}

.image {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  color: #000;
  font-size: 1.25rem;
  font-weight: 400;

  p {
    line-height: 2rem;
  }

  span {
    display: block;
  }

  strong {
    color: var(--brown-cafe-creme-sun-383-moon-885);
    font-size: 1.875rem;
    font-weight: 700;
  }

  b {
    font-size: 1.875rem;
    font-weight: 700;
  }
}

.source {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25rem;
}
