.list {
  list-style: none;
  font-size: 2rem;
  line-height: 2.5rem;
}

.list li {
  margin-bottom: 1rem;
}

.list b {
  color: var(--blue-france-sun-113-625);
}

.smallList {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 0.75rem;
}
