.box {
  margin: 1.5rem 0;
  display: flex;
  border: 1px solid var(--border-default-grey);

  img {
    max-width: 100%;
  }

  @media screen and (max-width: 62rem) {
    flex-direction: column;
    align-items: center;
  }
}

.content {
  padding: 1.875rem 2.5rem;
}
