.materialRow {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;

  :global(.fr-select-group),
  :global(.fr-input-group) {
    margin-bottom: 0;
  }
  flex-wrap: wrap;
}

.material {
  width: min(20rem, 100%);
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;

  @media screen and (max-width: 22rem) {
    button {
      &::before {
        display: none;
      }
    }
  }
}
