.title {
  text-align: center;
}

.description {
  text-align: center;
  color: var(--text-mention-grey);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.box {
  margin-top: 2rem;
  flex: 1;
  border: 1px solid var(--border-default-grey);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  margin: auto;
}

.input {
  max-width: 20rem;
  margin: auto;
}

.link {
  width: fit-content;
  margin: auto;
  display: block;
}
